<div class="container">
  <div class="row">
    <div class="col-xs-12 margin-top-10">
      <div class="panel panel-default min-height">
      <div class="panel-heading">投资列表</div>
        <div class="panel-body">
          <table class="table pro-list">
            <thead>
              <tr>
                <th>项目标题</th>
                <th>年利率</th>
                <th>总金额</th>
                <th>期限</th>
                <th>还款方式</th>
                <th>当前进度</th>
                <th>百分比</th>
                <th>状态</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a ui-sref="site.item">安居宝A20140417149</a></td>
                <td>13%</td>
                <td>￥1,420,000.00</td>
                <td>15天</td>
                <td>一次性</td>
                <td>
                  <div class="progress progress-striped active">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                        <span class="sr-only">45% Complete</span>
                      </div>
                      
                  </div>
                </td>
                <td>30%</td>
                <td><span class="label label-lg label-success">已还款</span></td>
              </tr>
              
              <tr>
                <td>安居宝A20140417149</td>
                <td>13%</td>
                <td>￥1,420,000.00</td>
                <td>15天</td>
                <td>一次性</td>
                <td>
                  <div class="progress progress-striped active">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                        <span class="sr-only">45% Complete</span>
                      </div>
                     
                  </div>
                </td>
                <td>30%</td>
                <td><span class="label label-lg label-success">已还款</span></td>
              </tr>

              <tr>
                <td>安居宝A20140417149</td>
                <td>13%</td>
                <td>￥1,420,000.00</td>
                <td>15天</td>
                <td>一次性</td>
                <td>
                  <div class="progress progress-striped active">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete</span>
                      </div>
                      
                  </div>
                  
                </td>
                <td>80%</td>
                <td><span class="label label-lg label-success">已还款</span></td>
              </tr>

              <tr>
                <td>安居宝A20140417149</td>
                <td>13%</td>
                <td>￥1,420,000.00</td>
                <td>15天</td>
                <td>一次性</td>
                <td>
                  <div class="progress progress-striped active">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100% Complete</span>
                      </div>
                      
                  </div>
                </td>
                <td>100%</td>
                <td><span class="label label-lg label-warning">还款中</span></td>
              </tr>

              <tr>
                <td>安居宝A20140417149</td>
                <td>13%</td>
                <td>￥1,420,000.00</td>
                <td>15天</td>
                <td>一次性</td>
                <td>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                      <span class="sr-only">100% Complete</span>
                    </div>

                  </div>
                </td>
                <td>100%</td>
                <td><span class="label label-lg label-warning">还款中</span></td>
              </tr>

              <tr>
                <td>安居宝A20140417149</td>
                <td>13%</td>
                <td>￥1,420,000.00</td>
                <td>15天</td>
                <td>一次性</td>
                <td>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                      <span class="sr-only">100% Complete</span>
                    </div>

                  </div>
                </td>
                <td>100%</td>
                <td><span class="label label-lg label-warning">还款中</span></td>
              </tr>
            </tbody>
          </table>

          <div style="text-align: center">
            <pagination total-items="64" page="3" max-size="3" class="pagination-sm" boundary-links="true"></pagination>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>