<div class="panel-heading">修改支付密码</div>
<div class="panel-body">
  <form class="form-horizontal secure-forms" name="modifyPayPwdForm" ng-submit="updatePayPwd(modifyPayPwdForm)" ng-show="!modifyStatus">

    <div class="form-group" ng-class="{'has-error': modifyPayPwdForm.currentPayPwd.$invalid && modifyPayPwdForm.currentPayPwd.$dirty}">
      <label for="currentPayPwd" class="col-xs-3 control-label">当前支付密码：</label>
      <div class="col-xs-9">
        <input type="password" class="form-control" id="currentPayPwd" name="currentPayPwd" placeholder="当前支付密码"
               ng-model="user.currentPayPwd" remote-validate="used" ng-required="true">
        <span class="slide-left help-block alert-danger alert" ng-show="modifyPayPwdForm.currentPayPwd.$error.used">
            <b>错误：</b>当前支付密码输入错误
        </span>

      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': modifyPayPwdForm.newPassword.$invalid && modifyPayPwdForm.newPassword.$dirty}">
      <label for="inputPassword3" class="col-xs-3 control-label">新密码：</label>
      <div class="col-xs-9">
        <input type="password" class="form-control" id="inputPassword3" placeholder="新支付密码" name="newPassword"
               ng-minlength="6" ng-maxlength="16" ng-required="true" ng-model="user.newPassword">
        <span class="help-block alert-danger alert slide-down"
              ng-show="modifyPayPwdForm.newPassword.$error.minlength || modifyPayPwdForm.newPassword.$error.maxlength">
                          支付密码为6-16个字符
                        </span>
        <span class="help-block alert-danger alert slide-down" ng-show="modifyPayPwdForm.newPassword.$error.used">
              <b>错误：</b>新密码与当前支付密码不能相同
        </span>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': modifyPayPwdForm.rePassword.$invalid && modifyPayPwdForm.rePassword.$dirty}">
      <label for="rePassword" class="col-xs-3 control-label">确认新密码：</label>
      <div class="col-xs-9">
        <input type="password" class="form-control" id="rePassword" placeholder="确认新支付密码" ng-model="rePassword" name="rePassword">
        <span class="help-block alert-danger alert slide-down" ng-show="user.newPassword != rePassword">
              两次输入密码不匹配
        </span>
        <p class="help-block">初始支付密码与您初次设置的登录密码一致，为确保账户安全，请将支付密码修改为与登录密码不一致
        </p>

      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-9">
        <button type="submit" class="btn btn-primary"
                ng-disabled="modifyPayPwdForm.$invalid || processing || modifyPayPwdForm.$pristine">确定 <span class="fa fa-repeat fa-spin" ng-show="processing"></span></button>
      </div>
    </div>
  </form>

  <div class="col-xs-10 col-xs-offset-1 margin-top-20" ng-show="modifyStatus">
    <div class="media">
      <i class="fa fa-check-circle fa-size-md2 text-success pull-left"></i>
      <div class="media-body">
        <h3 class="media-heading text-success">支付密码修改成功！</h3>
        <p>请务必牢记您的支付密码</p>
        <p>
          <button ui-sref="site.account.secure" class="btn btn-primary">返回安全中心</a></button>
        </p>
      </div>
    </div>
  </div>

</div>
