<div class="panel-heading">密保问题</div>
<div class="panel-body">

  <form class="form-horizontal secure-forms" name="setSecretQesForm" ng-show="!setStatus" ng-submit="setSecret(setSecretQesForm)">

    <div class="form-group" ng-class="{'has-error': setSecretQesForm.secretOption.$invalid && setSecretQesForm.secretOption.$dirty}">
      <label class="col-xs-3 control-label">安全问题：</label>
      <div class="col-xs-9">
        <select name="secretOption" ng-options="q.id as q.title for q in qesOpts" ng-required="true" class="form-control" ng-model="secret.question">
          <option value="">请选择</option>
        </select>
        <span class="help-block">启用密保问题后可修改登录密码。</span>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': setSecretQesForm.answer.$invalid && setSecretQesForm.answer.$dirty}">
      <label for="answer" class="col-xs-3 control-label">回答：</label>
      <div class="col-xs-9">
        <input type="text" class="form-control" id="answer" placeholder="答案" name="answer"
               ng-model="secret.answer" ng-required="true" />
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': setSecretQesForm.payPwd.$invalid && setSecretQesForm.payPwd.$dirty}">
      <label for="payPwd" class="col-xs-3 control-label">支付密码：</label>
      <div class="col-xs-9">
        <input type="password" class="form-control" id="payPwd" ng-required="true" name="payPwd" ng-model="secret.payPwd"
               placeholder="支付密码" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-9">
        <button type="submit" class="btn btn-primary" ng-disabled="setSecretQesForm.$invalid || setSecretQesForm.$pristine || processing">确认 <i class="fa fa-spin fa-repeat" ng-show="processing"></i> </button>
      </div>
    </div>
  </form>

  <div class="col-xs-10 col-xs-offset-1 margin-top-20" ng-show="setStatus">
    <div class="media">
      <i class="fa fa-check-circle fa-size-md2 text-success pull-left"></i>
      <div class="media-body">
        <h3 class="media-heading text-success">密保问题设置成功！</h3>
        <p>请您牢记问题答案，必要时可快速找回支付密码.</p>
        <p>
          <button ui-sref="site.account.secure" class="btn btn-primary">返回安全中心</a></button>
        </p>
      </div>
    </div>
  </div>

</div>
