
<div class="panel panel-default margin-top-10" ui-view>
  <div class="panel-heading">消息中心</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i> 删除</button>
        <button class="btn btn-default btn-sm"><i class="fa fa-eye"></i> 标记为已读</button>
        <button class="btn btn-default btn-sm"><i class="fa fa-eye-slash"></i>标记为未读</button>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-hover table-bordered msg-items">
          <thead>
          <tr>
            <th class="col_1"><input type="checkbox"/></th>
            <th class="col_2">时间</th>
            <th class="col_3">类别</th>
            <th class="col_4">发件人</th>
            <th class="col_5">标题</th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td><input type="checkbox"/></td>
            <td>2014.05.06</td>
            <td>系统消息</td>
            <td>企乐融账户</td>
            <td><a ui-sref="site.account.innerMailPage.detailMessagePage">已经发放至账户</a></td>
          </tr>
          <tr>
            <td><input type="checkbox"/></td>
            <td>2014.05.06</td>
            <td>系统消息</td>
            <td>企乐融账户</td>
            <td><a ui-sref="site.account.innerMailPage.detailMessagePage">已经发放至账户</a></td>

          </tr>
          <tr>
            <td><input type="checkbox"/></td>
            <td>2014.05.06</td>
            <td>系统消息</td>
            <td>企乐融账户</td>
            <td><a href="">已经发放至账户</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





