
<div class="panel panel-default margin-top-10">
  <div class="panel-heading">提醒设置</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">


      <div class="msg-settings thead">
        <ul class="items">
          <li class="col_1">消息内容</li>
          <li class="col_2">站内信</li>
          <li class="col_3">短信</li>
          <li class="col_4">邮件</li>
        </ul>
      </div>
      <input type="hidden" name="nid" id="nid" value="">

      <div class="msg-settings">
        <ul class="items">
          <li class="col_1"> 月息通投资通知 </li>
          <li class="col_2">
            <div class="yCheckbox">
              <input type="checkbox" checked="checked"/>
            </div>
          </li>
          <li class="col_3">
            <input type="checkbox" checked="checked"/>
          </li>
          <li class="col_4">
            <div class="yCheckbox">
              <input type="checkbox" checked="checked"/>
            </div>
          </li>
        </ul>
      </div>

      <div class="msg-settings">
        <ul class="items">
          <li class="col_1"> 月息通回款通知 </li>
          <li class="col_2">
            <div class="yCheckbox">
              <input type="checkbox" checked="checked"/>
            </div>
          </li>
          <li class="col_3">
            <div class="yCheckbox">
              <input type="checkbox" checked="checked"/>
            </div>
          </li>
          <li class="col_4">
            <div class="yCheckbox">
                <input type="checkbox" checked="checked"/>
            </div>
          </li>
        </ul>
      </div>

      <div class="msg-settings">
        <ul class="items">
          <li class="col_1"> 月息通取消通知 </li>
          <li class="col_2">
            <div class="yCheckbox">
              <input type="checkbox" checked="checked"/>
            </div>
          </li>
          <li class="col_3">
            <input type="checkbox" checked="checked"/>
          </li>
          <li class="col_4">
            <div class="yCheckbox">
              <input type="checkbox" checked="checked"/>
            </div>
          </li>
        </ul>
      </div>

      <div class="msg-settings">
        <ul class="items">
          <li class="col_1"> 月息通计息通知 </li>
          <li class="col_2">
            <div class="yCheckbox">
              <input type="checkbox" checked="checked"/>
            </div>
          </li>
          <li class="col_3">
            <input type="checkbox" checked="checked"/>
          </li>
          <li class="col_4">
            <div class="yCheckbox">
                <input type="checkbox" checked="checked"/>
            </div>
          </li>
        </ul>
      </div>

      <div class="msg-settings">
        <ul class="items">
          <li class="col_1"> 定存宝申请通知 </li>
          <li class="col_2">
            <div class="yCheckbox">
              <input type="checkbox" checked="checked"/>
            </div>
          </li>
          <li class="col_3">
            <input type="checkbox" checked="checked"/>
          </li>
          <li class="col_4">
            <div class="yCheckbox">
                <input type="checkbox" checked="checked"/>
            </div>
          </li>
        </ul>
      </div>

      <div class="msg-settings">
        <ul class="items">
          <li class="col_1"> 定存宝结息通知 </li>
          <li class="col_2">
            <div class="yCheckbox">
              <input type="checkbox" checked="checked"/>
            </div>
          </li>
          <li class="col_3">
            <input type="checkbox" checked="checked"/>
          </li>
          <li class="col_4">
            <div class="yCheckbox">
              <input type="checkbox" checked="checked"/>
            </div>
          </li>
        </ul>
      </div>

      <div class="msg-settings">
        <ul class="items">
          <li class="col_1"> 官方通知 </li>
          <li class="col_2">
            <div class="yCheckbox">
              <input type="checkbox" checked="checked"/>
            </div>
          </li>
          <li class="col_3">
            <input type="checkbox" checked="checked"/>
          </li>
          <li class="col_4">
            <div class="yCheckbox">
              <input type="checkbox" checked="checked"/>
            </div>
          </li>
        </ul>
      </div>

      <div class="msg-settings">
        <ul class="items">
          <li class="col_1"> 充值回执 </li>
          <li class="col_2">
            <div class="yCheckbox">
                <input type="checkbox" checked="checked" disabled="disabled" />
            </div>
          </li>
          <li class="col_3">
            <div class="yCheckbox">
                <input type="checkbox" checked="checked" disabled="disabled"/>
            </div>
          </li>
          <li class="col_4">
            <div class="yCheckbox">
              <input type="checkbox" checked="checked"/>
            </div>
          </li>
        </ul>
      </div>


      </div>

    </div>
  </div>
</div>





