<div class="container">
  <div class="row">
    <div class="panel min-height margin-top-20">
      <div class="panel-body">
        <div class="col-xs-6">
          <h1 class="text-danger pull-right" style="font-size: 10em">404!</h1>
          <div class="clearfix"></div>
          <h4 class="pull-right" style="color: #555555">亲，我迷路了，<a ui-sref="site.index" href="#/">[带我回家]</a>吧！ </h4>

        </div>
        <div class="col-xs-6">
          <img src="./images/404.png" width="250px" alt="" height="305px"/>
        </div>
      </div>
    </div>
  </div>
</div>