<div class="footer" ui-view="footer">
  <!--footer section start-->
  <div class="footer-section clearfix">
    <div class="container">
      <div class="row">
        <!--footer map start-->
        <div class="col-xs-8">
            <ul class="list-inline foot-list">
              <li><a href="">关于我们</a></li>
              <li><a href="">新手指引</a></li>
              <li><a href="">理财攻略</a></li>
              <li><a href="">帮助中心</a></li>
              <li><a href="">法律法规</a></li>
              <li><a href="">新客专区</a></li>
              <li><a href="">问答</a></li>
              <li><a href="">行业资讯</a></li>
            </ul>

            <ul class="list-inline list-unstyled contact">
                <li>
                    <i class="fa fa-phone"></i> 075566659000 (9:00 - 18:00)
                </li>
                <li><i class="fa fa-envelope"></i> jia58960@gmail.com</li>
            </ul>
          <!--<div class="row">
            <div class="col-xs-8">

            </div>
          </div>-->
        </div>

        <!--foot map end-->
        <!--<div class="foot-logo">
          <div class="col-xs-1">
            <a href=""><i class="thumbnail fa fa-weibo fa-size-md1"></i></a>
          </div>
          <div class="col-xs-1">
            <a href=""><i class="thumbnail fa fa-weixin fa-size-md1"></i></a>
          </div>
          <div class="col-xs-1">
            <a href=""><i class="thumbnail fa fa-qq fa-size-md1"></i></a>
          </div>
        </div>-->
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <p>
            <span class="margin-right-10">2014 © KingRay. ALL Rights Reserved.</span>
            <a href="#">版权所有 京ICP证140029号</a>
          </p>
        </div>
        <div class="col-md-4 col-sm-4">
          <ul class="social-footer">
            <li><a href="#"><i class="fa fa-weibo"></i></a></li>
            <li><a href="#"><i class="fa fa-weixin"></i></a></li>
            <li><a href="#"><i class="fa fa-qq"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>